.breadcrumb-item > a {
  font-size: medium;
  text-decoration: none;
  color: red;
}

.table td:not(:first-child) {
  text-align: center;
}

.table th:not(:first-child) {
  text-align: center;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}

.wd-course-navigation-sm-size {
  background-color: black;
  color: white;
  padding: 20px;
}

.wd-course-navigation-sm-size a {
  text-decoration: none;
  color: white;
}
